<div fxLayout="row" fxLayout.lt-sm="column" class="full-height">
  <div fxLayout="column" class="card-center">
    <mat-card>
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <form class="login-form" #userLogin="ngForm" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [formControl]="password" required type="password">
            <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="createUser()">REGISTER</button>
          <p class="mat-body-1" fxFlexAlign="end">Already have an account? <a [routerLink]="['/']">Log in</a></p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
