<div fxLayout="column">
  <mat-card>
    <mat-card-title>Login</mat-card-title> 
    <mat-card-content>
      <form *ngIf="loginForm" class="login-form" fxLayout="column" name="loginForm" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error [formControlErrors]="loginForm.get('email').errors" control="email"></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required type="password">
          <mat-error [formControlErrors]="loginForm.get('password').errors" control="password"></mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="logIn()">LOGIN</button>
        <p class="mat-body-1" fxFlexAlign="end">Don't have an account? <a [routerLink]="['/register']">Sign up</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
